Object.assign(Register.prototype, { template(){ return `

	<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title text-danger">Skapa Konto</h2>
	        <a type="button" class="btn close" data-dismiss="modal" aria-label="Close">
	        &times;
	      </a>
	      </div>
	      <div class="modal-body mx-4">
					<form id="registerForm" method="post" role="form">
						<p class="text-muted border border-danger text-center mt-2 d-none" id="checkInput">Användarnamn och lösenord måste vara minst 2 tecken långt</p>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter email">
					    <small id="emailHelp" class="form-text text-muted">Vi delar aldrig ut dina uppgifter till någon</small>
							<p class="text-muted border border-danger text-center mt-2 d-none" id="userNameTaken">Användarnamnet är upptaget, fyll i ett nytt.</p>
					  </div>
						<div class="form-group">
					    <label for="formGroupExampleInput">Förnamn</label>
					    <input type="text" class="form-control" id="namnRegister" placeholder="Namn">
							<small  class="form-text text-muted">Endast förnamn</small>
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Lösenord</label>
					    <input type="password" class="form-control" id="password" placeholder="Lösenord">
							<small id="passwordHelpInline" class="text-muted">
					      Måste vara mellan 6-10 bokstäver långt.
					    </small>
					  </div>
						<div class="form-group">
					    <label for="exampleInputPassword1">Upprepa lösenordet</label>
					    <input type="password" class="form-control" id="password-confirm" placeholder="Upprepa">
							<p id="errorMessagePWConfirm" class="text-muted text-center mt-2 border border-danger d-none">
					     Lösenorden stämmer inte överrens!
						 </p>
					  </div>
					  <input type="submit" class="btn btn-success register" value="Registrera"></input>
					</form>
	      </div>
	      <div class="modal-footer">
	        <a type="button" class="close btn" data-dismiss="modal" aria-label="Close">
	        Stäng
	      </a>
	      </div>
	    </div>
	  </div>
	</div>

`;}});
