Object.assign(Movie.prototype, { template2(){ return `

<div class="current-movies card card-inverse col-lg-4 mt-2 border-0 ">
  <a href="/film/${this.title.replace(/ /g,'_')}" class="pop" data-toggle="tooltip" data-placement="right">
    <img class="d-flex mr-3 img-fluid " src="/imgs/${this.images[2]}" alt="Generic placeholder image">
    <div class="card-img-overlay card-info">
      <h4>${this.title}</h4>
      <h6>${this.genre} av ${this.director}</h6>
      <p>${this.description}</p>
      <p>Medverkande: <strong>${this.actors.join(', ')}</strong></p>
    </div>
  </a>
</div>

`;}});