Object.assign(Navbar.prototype, { template(){ return `

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
		<div class="container">
		  <a href="/" class="pop nav-logo"><img class="navbar-brand img-fluid d-none d-lg-block" src="/imgs/filmvisarna-logo.png" alt="logo"></a>
			<a href="/" class="pop nav-logo"><img class="navbar-brand img-fluid d-lg-none" src="/imgs/fv-logo.png" alt="logo"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      ${this.items.render()}
		    </ul>
				${this.login.loggedIn ? '<li class="nav-item float-right" style="color: white">Hej</li>' : this.login.render()}
		  </div>
		</div>
	</nav>
`;}});
