Object.assign(Startsidan.prototype, { template2(){ return `

  <div class="container-fluid d-none d-md-block">
    <div class="row">
      <div class="col-12 carousel-padding">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/film/Call_Me_by_Your_Name" class="pop"><img class="d-block w-100" src="/imgs/call-me.jpg" alt="First slide"></a>
              <div class="carousel-caption first-carousel-caption d-none d-md-block">
                <a href="/film/Call_Me_by_Your_Name" class="pop"><p class="film-title">Call Me By Your Name</p></a>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/film/The_Martian" class="pop"><img class="d-block w-100" src="/imgs/martian.jpg" alt="Second slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="/film/The_Martian" class="pop"><p class="film-title title-color">The Martian</p></a>
              </div>
            </div>
            <div class="carousel-item">
             <a href="/film/Interstellar" class="pop"><img class="d-block w-100" src="/imgs/interstellar.jpg" alt="Third slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="/film/Interstellar"><p class="film-title">Interstellar</p></a>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/film/Star_Wars:_The_Last_Jedi" class="pop"><img class="d-block w-100" src="/imgs/starwars.jpg" alt="Fourth slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="/film/Star_Wars:_The_Last_Jedi" class="pop"><p class="film-title film-title-color">The Last Jedi</p></a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  </div>
`;}});
