Object.assign(Startsidan.prototype, { template(){ return `
  <div class="row empty-space">
    <div class="col-12 comingMoviesHeader mt-2">
      <h2 class="mt-5 mb-5">Kommande filmer <i class="fa fa-film" aria-hidden="true"></i></h2>
    </div>
    <div class="col-md-12">
      <div class="row mt-3 kommande-filmer">
        ${this.app.comingMovies.render()}
      </div>
    </div>

    <div class=" col-12 currentMoviesHeader mt-2">
      <h2 class="mt-5 mb-5">Aktuella filmer <i class="fas fa-ticket-alt"></i></h2>
    </div>
    <div class="col-md-12">
      <div class="row mt-2 aktuella-filmer">
        ${this.app.movies.render('', '2')}
      </div>
    </div>
  </div>


<!-- Start of Access denied modal -->
<div class="modal fade access-denied-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Åtkomst nekad!</h3>
      </div>
      <div class="modal-body">
        <p>Vänligen logga in och försök igen.</p>
      </div>
    </div>
  </div>
</div>
<!-- End of denied modal -->
`;}});
