Object.assign(LogIn.prototype, { template2(){ return `

	<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
	  <li class="dropdown order-1">
	    <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">${this.app.userPage.user} <span class="caret"></span></button>
	    <ul class="dropdown-menu dropdown-menu-right mt-1 text-white log">
	      <li class="p-3">
	       <a class="pop btn" href="/mina_sidor">Mina sidor</a>
				 <a class="pop btn logout" href="#">Logga ut</a>
	      </li>
	    </ul>
	  </li>
	</ul>
`;}});
