Object.assign(UserPage.prototype, { template(){ return `

<div class="row user-page">
	<div class="col-12 mt-4 heading">
		<div class="card bg-warning text-center">
			<i class="fa fa-user-circle" aria-hidden="true"><h1>${this.user}</h1></i>
		</div>
	</div>
	<div class="col-12 content">
		<h2 class="">Aktuella bokningar</h2>
		<div class="row">
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				  <a href="#"><img class="card-img-top" src="/imgs/call-me-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">Call Me By Your Name</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				  <a href="#"><img class="card-img-top" src="/imgs/thor-ragnarok-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">Thor: Ragnarok</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				  <a href="#"><img class="card-img-top" src="/imgs/incredibles-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">The Incredibles</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				  <a href="#"><img class="card-img-top" src="/imgs/the-martian-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">The Martian</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				  <a href="#"><img class="card-img-top" src="/imgs/last-jedi-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">Star Wars: The Last Jedi</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class=" col-12 col-md-4 col-lg-3 mb-2 bokningar">
				<div class="card">
				 <a href="#"><img class="card-img-top" src="/imgs/intersteller-poster3.jpg" alt="Card image cap"></a>
				  <div class="card-body">
				    <a href="#"><h5 class="card-title">Interstellar</h5></a>
				    <ul class="list-unstyled">
				    	<li>1 februari, 11:50</li>
				    	<li>Stora salongen</li>
				    	<li>Giltig till 31 januari, 23:45</li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 order-history content">
		<h2 class="">Orderhistorik</h2>
		<div class="row">
			<div class="col-12  col-md-4 col-lg-4">
				<ul class="list-group order-history-list">
						${this.orderHistory.render('', 2)}
				</ul>
			</div>
		</div>
	</div>
</div>


`;}});
