Object.assign(UserPage.prototype, { template(){ return `

<div class="row user-page">
	<div class="col-12 mt-4 heading">
		<div class="card bg-warning text-center">
			<i class="fa fa-user-circle" aria-hidden="true"><h1>${this.user}</h1></i>
		</div>
	</div>
	<div class="col-12 content">
		<h2 class="" id="aktuella-heading">Aktuella bokningar <i class="fas fa-film"></i></h2>
		<div class="row aktuella">

		</div>
	</div>
	<div class="col-12 order-history content">
		<h2 class="">Orderhistorik <i class="fas fa-history"></i></h2>
		<div class="row">
			<div class="col-12  col-md-4 col-lg-4 order-history-div">
				<ul class="list-group order-history-list">
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Start of confirm modal -->
<div class="modal fade ml-4" id="cancel-order-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered h-100 d-flex flex-column justify-content-center my-0" role="document">
		<div class="modal-content cancel-modal">
			<div class="modal-header cancel-modal-header border-0 text-align-center">
				<h5 class="modal-title" id="exampleModalLabel">Är du säker på att du vill avboka?</h5>
			</div>
			<div class="modal-body">
        <h4>Denna process går inte att ångra!</h4>
      </div>
			<div class="modal-footer border-0">
				<button type="button" class="btn bg-danger" data-dismiss="modal">Avbryt <i class="fas fa-times"></i></button>
				<button type="button" class="btn cancel-order" data-dismiss="modal">Bekräfta <i class="fas fa-check"></i></button>
			</div>
		</div>
	</div>
</div>
<!-- End of modal -->
`;}});
