Object.assign(UserPage.prototype, { template(){ return `

<div class="row mt-5 user-page">
	<div class="col-12 mt-4 heading">
		<div class="card bg-warning text-center">
			<i class="fa fa-user-circle" aria-hidden="true"><h1>Shamin Krook</h1></i>
		</div>
	</div>
	<div class="col-12 content">
		<h2 class="">Aktuella bokningar</h2>
		<div class="row">
			<div class="col-4">
				<div class="bokning">
					<div class="d-flex">
					  <div class="p-2">Flex item</div>
					  <div class="ml-auto p-2">Flex item</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="bokning">
					<div class="d-flex">
					  <div class="p-2">Flex item</div>
					  <div class="ml-auto p-2">Flex item</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="bokning">
					<div class="d-flex">
					  <div class="p-2">Flex item</div>
					  <div class="ml-auto p-2">Flex item</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


`;}});
