Object.assign(BookingModal.prototype, { template(){ return `

  <div class="modal fade" id="booking-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header booking-header">
          <div class="d-flex">
            <div class="p-2"><img class="modal-poster" src="/imgs/${this.movieClass.images[2]}" alt="Film poster"></div>
            <div class="pl-2"><h5 class="modal-title modal-film-title" id="exampleModalLongTitle">${this.movieClass.title}</h5><p><small><i class="fa fa-clock-o" aria-hidden="true"></i> ${this.movieClass.length}</small></p><p><small>${this.movieClass.genre}</small></p><p><small>Plats: ${this.movieClass.auditorium}</small></p><p><small>Tid: ${this.date}</small></p></div>
          </div>
          <button type="button" class="close close-modal align-self-start" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body booking-body">
          <div class="tickets">
            <h2 class="ticket-choice pt-3 text-center">Antal Biljetter<i class="fa fa-ticket" aria-hidden="true"></i></h2>
            <div class="container pb-5">
              <div class="row">
                <div class="col-4 text-center">
                  <div class="ordinary">
                    <p>Ordinarie</p>
                    <div class="mt-2 btn-group-vertical">
                      <button type="button"  data-ticket-type="Ordinarie" class="quantity-btn btn font-weight-bold btn-light plus-btn">+</button>
                      <span class="quantity" id="Ordinarie">0</span>
                      <button type="button" data-ticket-type="Ordinarie" class="quantity-btn btn font-weight-bold btn-light minus-btn">-</button>
                    </div>
                  </div>
                </div>
                <div class="col-4 text-center">
                  <div class="pensioner">
                    <p>Pensionär</p>
                    <div class="mt-2 btn-group-vertical">
                      <button type="button" data-ticket-type="Pensionär" class="quantity-btn btn font-weight-bold btn-light plus-btn">+</button>
                      <span class="quantity" id="Pensionär">0</span>
                      <button type="button" data-ticket-type="Pensionär" class="quantity-btn btn font-weight-bold btn-light minus-btn">-</button>
                    </div>
                  </div>
                </div>
                <div class="col-4 text-center">
                  <div class="child">
                    <p>Barn<small class="d-none d-md-inline-block">(under 12 år)</small></p>
                    <div class="mt-2 btn-group-vertical">
                      <button type="button" data-ticket-type="Barn" class="quantity-btn btn font-weight-bold btn-light plus-btn">+</button>
                      <span class="quantity" id="Barn">0</span>
                      <button type="button" data-ticket-type="Barn" class="quantity-btn btn font-weight-bold btn-light minus-btn">-</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="seats">
            <div class="triangle">
              <div class="scen align-self-center">

              </div>
              <div class="triangle-up-left d-inline-block"></div>
              <div class=" triangle-up-right d-inline-block float-right"></div>
            </div>

            <div class="choose-seats">
              <h3 class="pt-4 text-center">Välja platser</h3>
              <p class="mt-2 text-center d-none" id="changeSeat"><i class="fas fa-info-circle"> Om du vill byta någon plats, klicka igen på samma plats och välj en ny plats.</i></p>
              <div class="dropdown text-center">
                <!-- Info button for Information about different seats (in progress) -->
                <!-- <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                  Information</button> -->
                  <ul class="dropdown-menu dropdown-menu-seats">
                    <li class="dropdown-item"><span class=""></span><span class="">Vald plats</span></li>
                    <li class="dropdown-item">Ledig plats</li>
                    <li class="dropdown-item">Upptagen plats</li>
                  </ul>
              </div>
              <div id="salong-holder">
                <div id="salong">
                </div>
              </div>
            </div>
          </div>
          <div class="buy justify-content-center">
            <h2 class="modal-finish text-center pt-4">Sammanställning</h2>
            <div class="d-flex finish-box mt-5 mb-3">
              <div class="p-2">
                <img class="img-calendar" src="/imgs/${this.movieClass.images[2]}" alt="Film poster">
              </div>
              <div class="p-2">
                <h4 class="film-info">${this.movieClass.title}</h4>
                <p><small>${this.movieClass.auditorium}</small></p>
                <p><small>Tid: ${this.date}</small></p>
                <div class="info-tickets"></div>
              </div>
            </div>
            <div class="result text-center">
              <h4 class="finish-price text-center mt-4 mb-3">Kostnad</h4>
              <div class="total-price"></div>
              <h3 class="finish-price pt-5">Totalt</h3>
              <div class="price"></div>
              <div class="booking-success d-none"><p><i class="fas fa-check text-success"></i> Bokningen lyckades, tack för din bokning.</p></div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center border-0 pt-5">
            <button type="button" class="btn btn-light close-booking-btn" data-dismiss="modal">Avbryt</button>
            <button type="button" class="btn booking-btn btn-dark" disabled>Boka biljetter</button>
            <a href="/mina_sidor" class="pop btn-to-mypage btn btn-dark d-none">Se dina bokningar</a>
       </div>
      </div>
    </div>
  </div>


`;}});
