Object.assign(Calendar.prototype, { template(){ return `


<li class="list-group-item p-4 lala"> 
  <div class="d-flex">
  <div class="p-2">
  	<h3 class="d-inline-block pr-4">${this.time}</h3>
  </div>
  <div class="p-2">
    	 <a class="pop" href="/film/${this.film.replace(/ /g,'_')}"><img class="img-calendar" src="/imgs/${this.image}"></a>
  </div>
  <div class="p-2">
  	<a class="pop" href="/film/${this.film.replace(/ /g,'_')}"><h5 class="mb-0"><b>${this.film}</b></h5></a>
    	<p>${this.auditorium}</p>
      <a class="btn btn-secondary pop d-sm-none" href="/film/${this.film.replace(/ /g,'_')}" role="button">Boka</a>
  </div>
  <div class="ml-auto p-2 d-none d-sm-block">
  	<a class="btn btn-secondary pop" href="/film/${this.film.replace(/ /g,'_')}" role="button">Boka</a>
  </div>
  </div>
</li>




`;}});
