.film {
  background-color: @bg-gray;
  border-radius: 5px;
  margin-top: 80px;
  padding: 20px;
  height: 100%;
}

#accordion{
  background-color: white;
  border-radius: 0%;
  a{
    color: black;
  }
  a:hover{
    text-decoration: none;
  }
  h4{
    color: black;
  }
  .card {
    border-radius: 0%;
  }
  .card-header {
    background-color: @somecolor;
    opacity: 0.7;
    &:hover {
      opacity: 1.0;
    }
   button {
      background-color: white;
      font-weight: bold;
      color:@somecolor;
      &:hover {
        background-color: @somecolor;
        color: white;
      }
    }
  }
}

.om-film{
  border-radius: 10px;
  h2{
    font-family: 'Oswald', sans-serif;
  }
}

.blockquote{
    a{
      text-decoration: none;
      color: black;
    }
  }
  .film-produkt-info{
    li{
      list-style: none;
    }
  }

  .imdb-info{
    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      color: @somecolor;
    }
  }

  .fa-star{
    color: #e6e629;
  }

.calendar {
  .list-group-item.no-word-space.head {
      background-color: @somecolor;
  }
}