.booking{
  h3{
    font-family: 'Oswald', sans-serif;
    background-color: @somecolor;
    padding: 5px;
    color: #000;
  }
  .booking-list{
    font-family: 'Oswald', sans-serif;
    background-color: @bg-gray;
    border-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    .btn-link{
      color: #fff;
      &:hover{
        color: #000;
      }
    }
    &:hover{
      background-color: @somecolor;
    } 
  }
}

#accordion{
  .card-header{
    background-color: @somecolor;
    h5{
      button{
        color: #000;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        &:hover{
          color: #fff;
        }
        &:focus{
          text-decoration: none;
        }
      }
    }
  }
  .card-body{
    color: #fff;
  }
}

.blockquote{
    a{
      text-decoration: none;
      color: #fff;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .film-produkt-info{
    li{
      list-style: none;
    }
  }

  .imdb-info{
    a{
      text-decoration: none;
      color: white;
    }
    a:hover{
      color: @somecolor;
    }
  }

  .fa-star{
    color: @somecolor;
  }

.calendar {
  .list-group-item.no-word-space.head {
      background-color: @somecolor;
  }
}