header {

  .dropdown-item:hover{
    background-color: #66717b !important;
  }

  .navbar-brand{
    width: 20%;
  }

  nav{
    background-color: #0b0c10;
    a{
      color: white;
      &:hover,&:active,&:focus{
        color: @somecolor;
      }
    }
    .btn-outline-secondary{ 
      color: white; 
      border-color: #ffe70f; 
      &:hover{ 
        background-color: #ffe70f; 
        color: #000; 
      } 
    } 
    .log{ 
      background-color: #0b0c10; 
    } 
    .show>.btn-outline-secondary.dropdown-toggle{ 
      background-color: #0b0c10; 
      border-color: #ffe70f; 
      &:focus{ 
        box-shadow: 0 0 0 2px rgba(193, 175, 15, 0.55); 
      } 
    }  
  }
}
