header {
  nav > .container > a {
    color: white;
    &:hover,&:active,&:focus{
      color: white;
    }
  }

  .dropdown-item:hover{
    background-color: #66717b !important;
  }

  .navbar-brand{
    width: 20%;
  }
}
