header {

  .dropdown-item:hover{
    background-color: #66717b !important;
  }

  a.nav-logo{
    width: 20%;
  }

  nav{
    background-color: @purplepueple;
    a{
      color: white;
      &:hover,&:active,&:focus{
        color: @somecolor;
      }
    }
  }
}
