html {
  position: relative;
  min-height: 100%;
}
body{
  background-color: #22211d;

}


main{

  button{
    cursor: pointer;
  }


	.fa-star{
		color: #e6e629;
	}
  .blockquote{
    a{
      text-decoration: none;
      color: black;
    }
  }
  .film-produkt-info{
    li{
      list-style: none;
    }
  }
  .media-img{
    width: 20%;
    height: 100%;
  }

  .media-body{
    height: 100%;
    position: relative;

    .buttons{
      position: absolute;
      overflow: hidden;
      bottom: 0;
      right: 0;
    }
  }

  .carousel-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .empty-space {
    padding-top: 70px;
  }
}

.imdb-info{
  a{
    text-decoration: none;
    color: black;
  }
}
