html {
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 48px;
}


main{

  button{
    cursor: pointer;
  }

	.fa-star{
		color: #e6e629;
	}
  .blockquote{
    a{
      text-decoration: none;
      color: black;
    }
  }
  .film-produkt-info{
    li{
      list-style: none;
    }
  }
  .media-img{
    width: 20%;
    height: 100%;
  }

  .media-body{
    height: 100%;
    position: relative;

    .buttons{
      position: absolute;
      overflow: hidden;
      bottom: 0;
      right: 0;
    }
  }
  .carousel-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .current-movies, .coming-movies{
    &:hover{
      img{
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0.5;
        transform: scale(0.99);
        // -webkit-filter: brightness(110%);
        // filter: brightness(110%);
        // transform: scale(1.05);
      }
    }
    img {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    // filter: brightness(70%);
    &:hover{
      cursor: pointer;
      }

    }
    .card-info{
      display: none;
      /*background-color: rgba(167, 169, 171, 0.65);
      width: 90%;
      margin: 0 auto;
      opacity: 0.85;
      height: 92%;
      border-radius: 5px;*/
      padding: 50px;
      p,h4,h6{
        color: black;

      }
      p{
        font-size: 0.8rem;
      }
    }
  }
}

.imdb-info{
  a{
    text-decoration: none;
    color: black;
  }
}
