.om-oss{
  background-color: @bg-gray;
  border-radius: 5px;
  padding: 50px;
  height: 100%;
  h2, h3{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid @lightorange;
    border-width: 50%;
    display: inline-block;
    line-height: 1.5;
  }
}
