@purplepueple: #2b0258;
@somecolor: #f2b600;
@betterpurple: rgb(16.86, 0.78, 34.51, 0.21);
@oswald: 'Oswald', sans-serif;
@bg-gray: rgb(38, 38, 38);
@smartphone: ~"only screen and (max-width: 479px)";
