const dailyMovieHtml = (day, formatedDate, movies) => {
  let html = `
    <div class="row mt-5 mt-md-0 filmer">
		<div class="col-12 mt-3 mt-md-0">
  `;
  switch(day) {
    case 0:
      html += `<h2 class="mb-2">Idag, ${formatedDate}</h2>`;
      break;
    case 1:
      html += `<h2 class="mb-2">Imorgon, ${formatedDate}</h2>`;
      break;
    default:
      html += `<h2 class="mb-2">${formatedDate}</h2>`;
      break;
  }
  html += `<ul class="list-group listor">`;

  movies.forEach(movie => {
    html += `${movie.render()}`;
  })

  html += `
    </ul>
    </div>
    </div>
  `;

  return html;
}

Object.assign(Filmer.prototype, { template(){
  const sevenDaysMovies = [];

  // create 7 days movies html
  // sevenDaysMovies[0]: today's movies html
  // sevenDaysMovies[1]: tomorrow's movies html
  this.schedule.forEach((movies, index) => {
    sevenDaysMovies.push(
      dailyMovieHtml(
        index,
        this.format.format(new Date(movies[0].date)),
        movies
      )
    );
  })

  return sevenDaysMovies.join('');
}});
