Object.assign(Filmer.prototype, { template(){ return `
	<div class="row mt-5 mt-md-0 filmer empty-space">
		<div class="col-12 mt-3 mt-md-0">
			<div class="dropdown mb-3">
		  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Välj Dag
		  </button>
		  <div class="dropdown-menu position-absolute text-center" aria-labelledby="dropdownMenuButton">
		    <a class="nav-link text-light" href="#dag1">${moment(this.schedule[1][0].date).format('dddd DD MMMM')}</a>
		    <a class="nav-link text-light" href="#dag2">${moment(this.schedule[2][0].date).format('dddd DD MMMM')}</a>
		    <a class="nav-link text-light" href="#dag3">${moment(this.schedule[3][0].date).format('dddd DD MMMM')}</a>
				<a class="nav-link text-light" href="#dag4">${moment(this.schedule[4][0].date).format('dddd DD MMMM')}</a>
				<a class="nav-link text-light" href="#dag5">${moment(this.schedule[5][0].date).format('dddd DD MMMM')}</a>
				<a class="nav-link text-light" href="#dag6">${moment(this.schedule[6][0].date).format('dddd DD MMMM')}</a>
		  </div>
		</div>
	    <h2 class="mb-2">Idag, ${moment(this.schedule[0][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[0].render()}
	    </ul>
		</div>
	</div>
	<div class="row mt-5 mt-md-0 filmer" id="dag1">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">Imorgon, ${moment(this.schedule[1][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[1].render()}
	    </ul>
		</div>
	</div>
	<div class="row mt-5 mt-md-0 filmer" id="dag2">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">${moment(this.schedule[2][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[2].render()}
	    </ul>
		</div>
	</div>
	<div class="row mt-5 mt-md-0 filmer" id="dag3">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">${moment(this.schedule[3][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[3].render()}
	    </ul>
		</div>
	</div>
		<div class="row mt-5 mt-md-0 filmer" id="dag4">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">${moment(this.schedule[4][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[4].render()}
	    </ul>
		</div>
	</div>
	<div class="row mt-5 mt-md-0 filmer" id="dag5">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">${moment(this.schedule[5][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[5].render()}
	    </ul>
		</div>
	</div>
		<div class="row mt-5 mt-md-0 filmer" id="dag6">
		<div class="col-12 mt-3 mt-md-0">
	    <h2 class="mt-3">${moment(this.schedule[6][0].date).format('dddd DD MMMM')}</h2>
			<ul class="list-group listor">
	        ${this.schedule[6].render()}
	    </ul>
		</div>
	</div>



`;}});
