.kalendarium{
  height: 500px;
}
html {
  position: relative;
  min-height: 100%;
}
body{
  padding-top: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  border-top: 1px solid #e0e0e0;
}
footer .color {
  background-color: #d7d7d7;
  border-radius: 200px 5px;
  padding: 10px 30px;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
  color: #3f3f3f;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p .fa-facebook {
  background: #3B5998;
  color: white;
}
footer p .fa-envelope,
footer p .fa-address-card,
footer p .fa-phone {
  background: black;
  color: white;
}
footer p a,
footer p a:hover {
  color: #3f3f3f;
}
footer .myheight {
  height: 100px;
}
