header .dropdown-item:hover {
  background-color: #66717b !important;
}
header .navbar-brand {
  width: 200px;
}
header .d-lg-none {
  width: 150px;
}
header nav {
  background-color: #262626;
}
header nav .container .logo-mobile {
  margin: 10px auto;
}
header nav .nav-item.active {
  font-weight: bold;
}
header nav a {
  color: white;
}
header nav a:hover,
header nav a:active,
header nav a:focus,
header nav a.btn:hover {
  color: #f2b600 !important;
}
header nav .btn-outline-secondary {
  color: white;
  border-color: #f2b600;
}
header nav .btn-outline-secondary:hover {
  background-color: #f2b600;
  color: #000;
}
header nav .yellow {
  background-color: #f2b600;
}
header nav .yellow:hover {
  opacity: 0.7;
}
header nav .log {
  background-color: #262626;
  width: 300px;
}
header nav .log a,
header nav .log a:hover {
  color: black !important;
}
header nav .show > .btn-outline-secondary.dropdown-toggle {
  background-color: #0b0c10;
  border-color: #f2b600;
}
header nav .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(193, 175, 15, 0.55);
}
.karusell a {
  color: white;
}
.karusell a:hover {
  color: #f2b600;
  text-decoration: none;
}
.karusell .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.karusell .carousel-caption {
  top: auto;
  bottom: 10px;
  right: 900px;
}
.karusell .first-carousel-caption {
  top: auto;
  bottom: 20px;
  right: 700px;
  color: #fff;
}
.karusell .carousel-caption-avatar {
  top: auto;
  bottom: 10px;
  right: 950px;
}
.karusell .film-title {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}
@media screen and (max-width: 1035px) {
  .karusell .film-title {
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px #000;
  }
}
.karusell .film-title-color {
  color: #000;
}
.karusell .carousel-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 43px;
}
.karusell .empty-space {
  padding-top: 70px;
}
/* Start of fading transition*/
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* End of fading transition */
.biljett-info {
  background-color: #262626;
  border-radius: 5px;
  padding: 50px;
  height: 100%;
}
.biljett-info h2,
.biljett-info h3,
.biljett-info h4 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border-bottom: 3px solid #f2b600;
  border-width: 50%;
  display: inline-block;
  line-height: 1.5;
}
.om-oss {
  background-color: #262626;
  border-radius: 5px;
  padding: 50px;
  height: 100%;
}
.om-oss h2,
.om-oss h3 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border-bottom: 3px solid #f2b600;
  border-width: 50%;
  display: inline-block;
  line-height: 1.5;
}
.list-group-item a h5:hover {
  color: #f2b600 !important;
}
.list-group-item a:hover {
  color: #f2b600 !important;
  text-decoration: none;
}
.filmer h2 {
  border-bottom: 2px solid #f2b600;
  display: inline-block;
  text-transform: uppercase;
}
.biljett-info img {
  width: 150px;
}
.filmer h2 {
  border-bottom: 4px solid #f2b600;
  padding-bottom: 5px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.carousel-control-prev,
.carousel-control-next {
  bottom: 30px !important;
}
.lala {
  background-color: #262626;
  border-color: #000;
}
.lala .btn {
  border-color: #f2b600;
  background-color: #0b0c10;
}
.lala .btn:hover {
  background-color: #f2b600;
  color: black !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #000;
}
body .btn {
  cursor: pointer;
}
main .calendar {
  height: 245px;
}
main .calendar h3 {
  color: black;
  text-decoration: underline;
}
main .calendar ul {
  position: absolute;
  right: 20px;
  bottom: -150px;
  top: 0;
  overflow: scroll;
  width: 90%;
}
main .calendar .list-group-item:not(.no-word-space) {
  word-spacing: 20px;
}
main .card {
  background-color: rgba(0, 0, 0, 0.15);
}
main .empty-space {
  padding-top: 70px;
}
main .current-movies a,
main .coming-movies a {
  text-decoration: none;
}
main .current-movies .card-info,
main .coming-movies .card-info {
  display: none;
  padding: 50px;
}
main .current-movies .card-info p,
main .coming-movies .card-info p,
main .current-movies .card-info h4,
main .coming-movies .card-info h4,
main .current-movies .card-info h6,
main .coming-movies .card-info h6 {
  color: white;
}
main .current-movies .card-info p,
main .coming-movies .card-info p {
  font-size: 0.8rem;
}
main .current-movies:hover .card-info,
main .coming-movies:hover .card-info {
  display: block;
}
@media only screen and (max-width: 1199px) {
  main .current-movies:hover .card-info,
  main .coming-movies:hover .card-info {
    padding: 15px 25px;
  }
}
@media only screen and (max-width: 991px) {
  main .current-movies:hover .card-info,
  main .coming-movies:hover .card-info {
    display: none;
  }
}
main .current-movies:hover img,
main .coming-movies:hover img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
  transform: scale(0.99);
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
main .current-movies img,
main .coming-movies img {
  cursor: pointer;
}
main .coming-movies .card-info {
  cursor: context-menu;
}
main .img-calendar {
  width: 59px;
  height: 87px;
}
main p,
main h5,
main h6,
main h2,
main h3,
main h4 {
  color: white;
  font-family: 'PT Serif', serif;
}
main .comingMoviesHeader,
main .currentMoviesHeader {
  background-color: #f2b600;
  text-align: center;
  box-shadow: 0 0 3px 3px #000 inset;
}
main .comingMoviesHeader h2,
main .currentMoviesHeader h2 {
  font-family: 'Oswald', sans-serif;
  color: #000;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #262626;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p a.text-light:hover {
  color: #f2b600 !important;
  text-decoration: none;
}
footer .myheight {
  height: 100px;
}
.booking h3 {
  font-family: 'Oswald', sans-serif;
  background-color: #f2b600;
  padding: 5px;
  color: #000;
}
.booking .booking-list {
  font-family: 'Oswald', sans-serif;
  background-color: #262626;
  border-color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.booking .booking-list .btn-link {
  color: #fff;
}
.booking .booking-list .btn-link:hover {
  color: #000;
}
.booking .booking-list:hover {
  background-color: #f2b600;
}
.booking .booking-list button.disabled {
  pointer-events: none !important;
}
#accordion .card-header {
  background-color: #f2b600;
}
#accordion .card-header h5 button {
  color: #000;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
#accordion .card-header h5 button:hover {
  color: #fff;
}
#accordion .card-header h5 button:focus {
  text-decoration: none;
}
#accordion .card-body {
  color: #fff;
}
.blockquote a {
  text-decoration: none;
  color: #fff;
}
.blockquote a:hover {
  text-decoration: underline;
}
.film-produkt-info li {
  list-style: none;
}
.imdb-info a {
  text-decoration: none;
  color: white;
}
.imdb-info a:hover {
  color: #f2b600;
}
.fa-star {
  color: #f2b600;
}
.calendar .list-group-item.no-word-space.head {
  background-color: #f2b600;
}
#boking-modal .boking-header {
  background-color: #000;
}
#boking-modal .boking-body {
  padding: 0;
  margin-top: -1px;
  background-color: #f2b600;
}
#boking-modal .boking-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
#boking-modal .boking-body #salong .vacant {
  fill: gray;
  cursor: pointer;
}
#boking-modal .boking-body #salong .occupied {
  fill: blue;
}
#boking-modal .boking-body #salong .occupied.mouseentered {
  cursor: not-allowed;
}
#boking-modal .boking-body #salong .mouseentered {
  fill: yellow;
  cursor: pointer;
}
#boking-modal .boking-body #salong .selected {
  fill: red;
  cursor: pointer;
}
#boking-modal .modal-poster {
  width: 130px;
}
#boking-modal .modal-film-title {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
}
#boking-modal p {
  margin-bottom: 0;
}
#boking-modal .close-modal {
  color: #fff;
  opacity: 1;
}
#boking-modal .close-modal:hover {
  color: #f2b600;
}
@media only screen and (min-width: 992px) {
  #boking-modal .modal-dialog {
    position: relative;
    display: table;
    /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 800px;
  }
}
@media only screen and (max-width: 991.98px) {
  #boking-modal .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #boking-modal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
#boking-modal .tickets h2,
#boking-modal .tickets p {
  color: black;
}
#boking-modal .tickets .ticket-choice {
  font-family: 'Oswald', sans-serif;
}
#boking-modal .tickets .plus-btn {
  border-radius: 15px;
}
#boking-modal .tickets .minus-btn {
  border-radius: 14px;
  padding: 8px 13px;
}
#boking-modal .seats {
  background-color: #000;
}
#boking-modal .choose-seats h3 {
  font-family: 'Oswald', sans-serif;
}
#boking-modal #salong {
  text-align: center;
}
#boking-modal .modal-finish {
  font-family: 'Oswald', sans-serif;
  color: #000;
}
#boking-modal .modal-footer p {
  color: #000;
}
#boking-modal .buy .finish-box {
  background-color: rgba(255, 255, 255, 0.68);
  width: 50%;
  margin: 0 auto;
}
#boking-modal .buy .finish-box p {
  color: #000;
  font-family: 'PT Serif', serif;
}
#boking-modal .buy .img-calendar {
  width: 79px;
  height: 107px;
}
#boking-modal .buy .film-info {
  color: #000;
  font-family: 'Oswald', sans-serif;
}
#boking-modal .buy .finish-price {
  color: #000;
  font-family: 'Oswald', sans-serif;
}
#boking-modal .modal-footer {
  background-color: #f2b600;
}
#boking-modal .quantity {
  background-color: #f8f9fa;
  display: block;
  width: 50px;
  padding: 5px;
}
#boking-modal .btn-group-vertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#boking-modal .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#boking-modal .total-price p {
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 15px;
}
#boking-modal .price {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
#register-modal {
  font-family: 'PT Serif', serif;
}
#register-modal h2 {
  font-family: 'Oswald', sans-serif;
}
.user-page {
  margin-top: 80px;
}
.user-page .heading {
  padding: 0;
}
.user-page .heading h1 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border-width: 50%;
  display: inline-block;
  line-height: 1.5;
  padding: 20px;
}
.user-page .heading .fa-user-circle {
  font-size: 50px;
}
.user-page .heading .card {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.user-page .content {
  background-color: #262626;
  padding: 20px 50px;
}
.user-page .content h2 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border-bottom: 3px solid #f2b600;
  border-width: 50%;
  display: inline-block;
  line-height: 1.5;
}
.user-page .content .bokningar .card {
  height: 100%;
}
.user-page .content .bokningar h5,
.user-page .content .bokningar a {
  font-family: 'Oswald', sans-serif;
  color: #f2b600;
}
.user-page .content .bokningar h5:hover,
.user-page .content .bokningar a:hover {
  text-decoration: none;
}
.user-page .content .bokningar li {
  color: #fff;
  font-weight: normal;
}
.user-page .order-history-div .order-history-list .history-list {
  font-family: 'Oswald', sans-serif;
  background-color: #f2b600;
  border-color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
#cancel-order-modal .cancel-modal {
  background-color: #262626;
  max-width: 80%;
}
#cancel-order-modal .cancel-modal .cancel-modal-header {
  background-color: #f2b600;
}
#cancel-order-modal .cancel-modal .cancel-modal-header h5 {
  font-family: 'Oswald', sans-serif;
}
#cancel-order-modal .cancel-modal button.cancel-order {
  color: #000000;
  border-color: #f2b600;
  background-color: #f2b600;
}
.logout-modal {
  background-color: #262626;
  max-width: 80%;
}
.logout-modal .logout-modal-header {
  background-color: #f2b600;
}
.logout-modal .logout-modal-header h5 {
  font-family: 'Oswald', sans-serif;
}
.logout-modal .logout {
  color: white;
  border-color: #f2b600;
  background-color: #f2b600;
}
.errorMessage {
  display: none;
}
nav .container .logo-mobile {
  margin: 10px auto;
}
nav .nav-item.active {
  font-weight: bold;
}
nav a {
  color: white;
}
nav a:hover,
nav a:active,
nav a:focus,
nav a.btn:hover {
  color: #f2b600 !important;
}
nav .btn-outline-secondary {
  color: white;
  border-color: #f2b600;
}
nav .btn-outline-secondary:hover {
  background-color: #f2b600;
  color: #000;
}
nav .yellow {
  background-color: #f2b600;
}
nav .yellow:hover {
  opacity: 0.7;
}
nav .log-2 {
  background-color: #262626;
  width: 300px;
}
nav .show > .btn-outline-secondary.dropdown-toggle {
  background-color: #0b0c10;
  border-color: #f2b600;
}
nav .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 2px rgba(193, 175, 15, 0.55);
}
