header .dropdown-item:hover {
  background-color: #66717b !important;
}
header .navbar-brand {
  width: 20%;
}
header nav {
  background-color: #2b0258;
}
header nav a {
  color: white;
}
header nav a:hover,
header nav a:active,
header nav a:focus {
  color: #f2b600;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #000;
}
body .btn {
  cursor: pointer;
}
.karusell .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.karusell .carousel-caption {
  top: auto;
  bottom: 10px;
  right: 900px;
}
.karusell .first-carousel-caption {
  top: auto;
  bottom: 20px;
  right: 700px;
  color: #fff;
}
.karusell .carousel-caption-avatar {
  top: auto;
  bottom: 10px;
  right: 950px;
}
.karusell .film-title {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
}
.karusell .film-title-color {
  color: #000;
}
.karusell .carousel-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 43px;
}
.karusell .empty-space {
  padding-top: 70px;
}
main .card {
  background-color: rgba(0, 0, 0, 0.15);
}
main .empty-space {
  padding-top: 70px;
}
main .current-movies .card-info,
main .coming-movies .card-info {
  display: none;
  padding: 50px;
}
main .current-movies .card-info p,
main .coming-movies .card-info p,
main .current-movies .card-info h4,
main .coming-movies .card-info h4,
main .current-movies .card-info h6,
main .coming-movies .card-info h6 {
  color: white;
}
main .current-movies .card-info p,
main .coming-movies .card-info p {
  font-size: 0.8rem;
}
main .current-movies:hover .card-info,
main .coming-movies:hover .card-info {
  display: block;
}
main .current-movies:hover img,
main .coming-movies:hover img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
  transform: scale(0.99);
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
main .current-movies img {
  cursor: pointer;
}
main .fa-star {
  color: #e6e629;
}
main .img-calendar {
  width: 59px;
  height: 87px;
}
main p,
main h5,
main h6,
main h2,
main h3,
main h4 {
  color: white;
  font-family: 'PT Serif', serif;
}
main .comingMoviesHeader,
main .currentMoviesHeader {
  background-color: #110123;
  text-align: center;
}
main .comingMoviesHeader h2,
main .currentMoviesHeader h2 {
  font-family: 'Oswald', sans-serif;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #2b0258;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p a.text-light:hover {
  color: #f2b600 !important;
}
footer .myheight {
  height: 100px;
}
#accordion {
  background-color: #ffffff;
  border-radius: 2%;
}
#accordion a {
  color: black;
}
#accordion a:hover {
  color: #f2b600;
  text-decoration: none;
}
.movie-btn button:hover {
  color: #f2b600;
}
.blockquote a {
  text-decoration: none;
  color: black;
}
.film-produkt-info li {
  list-style: none;
}
.imdb-info a {
  text-decoration: none;
  color: white;
}
.imdb-info a:hover {
  color: #f2b600;
}
