Object.assign(Biljetter.prototype, { template(){ return `

  <div class="row mt-2 empty-space">
     <div class="col-lg-8 col-md-12">
       <div class="biljett-info">
       <h2>Priser & Kort</h2>

       <p>Kassan öppnar 30 minuter före första föreställning. Biljetterna är vanligtvis numrerade. Bokade biljetter måste hämtas senast 30 minuter före föreställningen. För Operaföreställningar och andra livesändningar gäller andra uthämtningstider.</p>
       <img class="img-fluid float-right d-none d-md-block" src="/imgs/biljett1.png" alt="">
       <p><b>Ord pris:</b> 85kr</p>
       <p><b>Barn (under 12 år):</b> 65kr</p>
       <p><b>Pensionärer:</b> 75kr</p>

       <h4>Presentkort</h4>
       <p>Ge någon en trevlig present! Presentkort finns i olika valörer och du köper dom i kassan på filmvisarna som öppnar 30 min före första föreställning. </p>

       <h4>Företagsbiljetter</h4>
       <p>Vi säljer även företagsbiljetter. Fast pris, berättigar till en biljett på ordinarie filmvisningar, mängdrabatt ges. För mer information och beställning kontakta vårt kontor på info@filmvisarna.nu</p>
     </div>
     </div>
     <div class="col-lg-4 col-md-12 mt-2 mt-lg-0">
   <div class="biljett-info">
     <h2>Åldersgränser på bio</h2>
       <p>Sedan första mars 2017 fungerar 15-årsgränsen på samma sätt som de andra åldersgränserna.</p>
       <p>Som vuxen räknas den som fyllt 18 år. </p>
       <p><b>Barntillåten:</b> inga begränsningar</p>
       <p><b>7 år:</b> barntillåten i sällskap med vuxen </p>
       <p><b>11 år:</b> tillåten från 7 år i sällskap med vuxen</p>
       <p><b>15 år:</b> tillåten från 11 år i sällskap med vuxen</p>
   </div>
   </div>
 </div>


`;}});
